/* Estilos básicos de la web */
/* Gris: #F3F2F1, Azul: #0078D4; */

.navbar {
	padding: 0;
}

.grupo {
	color: #FFFFFF;
	cursor: pointer;
	margin-left: 1rem;
}

.navbar-brand {
	font-size: 2.2rem;
	padding-bottom: 0;
	padding-left: 0.4rem;
	padding-top: 0;
}

.navbar-collapse {
	margin-right: 1rem;
}

.titulo-banner {
	color: #FFFFFF;
	display: block;
	margin-right: 1rem;
	margin-top: 1rem;
}

.logo-usuario {
	height: 36px;
	margin: 0;
	padding: 0;
	width: auto;
}

.usuarioMenu {
	font-size: 1.4rem;
	font-weight: bold;
	padding-right: 1rem;
	text-align: right;
}

.permiso {
	font-size: 0.8rem;
	padding-right: 1rem;
	text-align: right;
}

/* LIGAS Y ENCABEZADO H2 */
.ligas {
	display: inline-flex;
	width: 60%;
}
/* LIGAS Y ENCABEZADO H2 */

.contenido {
	height: 100%;
	position: absolute;
	width: 100%;
}

.titulosH1 {
	color: #000000;
	font-size: 3rem;
	margin-left: 62%;
	margin-top: 1rem;
	position: relative;
	text-align: right;
	top: 1rem;
	width: 26%;
}
/* Barra de navegación */
.navegacion {
	background-color: #0078D4;
	box-shadow: 0 0 5px #000000;
	display: inline-flex;
	height: 3rem;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.iconoUsuario {
	height: 50px;
	margin-left: 92%;
	padding-left: 0.2rem;
	padding-top: 0.2rem;
	position: relative;
	width: 50px;
}

.iconoUsuario img {
	background-color: #FFFFFF;
	border: solid 2px #C6C6C6;
	border-radius: 50%;
	cursor: pointer;
	height: 42px;
	padding: 0;
	position: absolute;
	width: 42px;
}

.activo {
	opacity: 0.8;
}

.menuUsuario {
	background-color: #0078D4;
	border-radius: 0 0 8px 8px;
	display: none;
	list-style: none;
	right: 10px;
	margin-top: 3rem;
	padding-left: 0.3rem;
	padding-right: 1rem;
	position: absolute;
	width: 12rem;
	z-index: 1;
}

li .nombreUsuario {
	color: #FFFFFF;
	display: block;
	font-size: 1.4rem;
	font-weight: bold;
	position: relative;
	text-align: right;
}

.permiso {
	font-size: 0.8rem;
	font-weight: normal;
}

.opcionMenu-usuario {
	color: #FFFFFF;
}

.opcionMenu-usuario:hover {
	color: #FFFFFF;
	text-shadow: 0 0 1px #000000;
}

.separador {
	margin-top: 0;
	margin-bottom: 0;
}

.contenedorSubMenu {
	border-radius: 0 0 10px 10px;
	border: solid 2px #C6C6C6;
	border-top: none;
	display: inline-flex;
	height: 2.6rem;
	line-height: 2.6rem;
	margin-left: 8%;
	margin-top: 3rem;
	width: 84%;
}

.submenu {
	margin-left: 1%;
	width: 68%;
}

.fecha {
	color: #A6A6A6;
	font-size: 0.9rem;
	text-align: right;
	width: 30%;
}
/* Termina Barra de Navegacion */
.contenedorIconMenu {
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 2rem;
	padding-top: 0.45rem;
	height: 3rem;
	width: 3rem;
	-webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.nombreCNTS {
	font-size: 1.9rem;
	margin-left: 3%;
	top: 0;
	position: absolute;
	width: auto;
}
/* Menú principal de la herramienta cargado a la izquieda */
.menuPrincipal {
	display: none;
	background-color: #F3F2F1;
	box-shadow: 0 0 20px #000000;
	height: 100%;
	position: absolute;
	top: 0;
	width: 280px;
	z-index: 1;
}

.nombreCNTSmenu {
	font-size: 1.9rem;
	font-weight: bold;
	margin-left: 3%;
	top: 0;
	opacity: 0.8;
	position: absolute;
	width: auto;
}

.fa-times {
	color: #C6C6C6;
	cursor: pointer;
	font-size: 2rem;
	margin-left: 86%;
	margin-top: 0.6rem;
	position: absolute;
}

.menu {
	display: block;
	list-style: none;
	margin-top: 60px;
	padding: 0;
}

.opcion-menu {
	border-bottom: solid 1px #C6C6C6;
	height: 50px;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

.opcion-menu p a {
	color: #000000;
	cursor: pointer;
	float: right;
	font-size: 1.2rem;
	opacity: 0.6;
	padding: 16px;
	position: relative;
	text-decoration: none;
}

.barra {
	background-color: #C6C6C6;
	height: 50px;
	opacity: 0.2;
	margin-left: 0;
	position: absolute;
	width: 0;
	-webkit-transition: width 0.2s;
	-moz-transition: width 0.2s;
	-ms-transition: width 0.2s;
	-o-transition: width 0.2s;
}

.opcion-menu:hover .barra {
	width: 100%;
}
/* Termina menu principal */
.abrir {
	-webkit-transform: translateX(280px);
	-ms-transform: translateX(280px);
  	-moz-transform: translateX(280px);
  	-o-transform: translateX(280px);
}

.cerrar {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
  	-moz-transform: translateX(0);
  	-o-transform: translateX(0);
}

