body {
    background-image: url('../img/fondoReservaDirecta.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

h2 {
	position: absolute;
	margin-top: -4%;
	text-align: right;
	width: 89%;
	z-index: 0;
}

.container {
	background-color: #F3F2F1;
	border-radius: 10px;
	margin-top: 4rem;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 4rem;
}

.nuevaReserva {
	margin-top: -3rem !important;
	position: absolute;
}

.logo {
	display: inline-block;
	height: 5rem;
	position: absolute;
	vertical-align: top;
	top: 4.6rem;
}

.logo2 {
	display: inline-block;
	height: 5rem;
	margin-left: 14%;
	position: absolute;
	vertical-align: top;
	top: 4.6rem;
}

.logo img, .logo2 img {
	height: 100%;
	width: auto;
}

.avisoReserva {
	margin-top: 0.15rem;
	width: 26.6rem;
}

.errorReserva {
	display: none;
	margin-top: 0.3rem;
	position: absolute;
	width: 26.6rem;
}

.folio {
	color: #B80202;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 0;
	text-align: right;
}

.folio span {
	color: #212529;
	font-size: 0.9rem;
}

.divisionFolio {
	margin-top: 3rem;
}

/* Formulario */
.izquierda, .derecha {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.derecha {
	margin-left: 3.4%;
}
/* Formulario */

.fechas {
	width: 20%;
}

.entrada, .salida {
	display: inline-block;
	width: 49.5%;
}

.nombre, .apellido {
	display: inline-block;
	width: 33%;
}

.entradaAlamitad {
	display: inline-block;
	width: 49.5%;
}

.alert-danger {
	display: none;
}

.errorMail {
	width: 100%;
}

.email {
	display: inline-block;
	margin-right: 1.6%;
	width: 90%;
}

.checkMail {
	display: inline-block;
	font-size: 1.4rem;
	height: auto;
	text-align: center;
	width: 7%;
}

.col-md-12 label {
	font-size: 1rem;
	font-weight: bold;
}

/* MODAL */
.avisoCuestionario {
	margin-right: 10%;
	width: 50%;
}

.nombreCuestionario, .apellidosCuestionario {
	display: inline-block;
	margin-bottom: 0.6rem;
	width: 49%;
}

.telefonoCuestionario, .correoCuestionario {
	display: inline-block;
	width: 49%;
}

.apellidosCuestionario:nth-child(2n), .correoCuestionario:nth-child(2n) {
	margin-left: 1%;
}

.btn-info {
	display: inline-block;
}

.custom-switch {
	display: inline-block;
}

.btn-group {
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
}

.etiquetaPregunta {
	width: 80%;
}

.grupoRadio {
	display: inline-block;
	font-weight: bold;
	vertical-align: top !important;
	width: 16%;
}
/* MODAL */
/*  ESTILOS CELULAR */
@media (max-width: 768px) {
	h2 {
		font-size: 1.6rem;
		left: 0;
		margin-top: 7rem;
		text-align: center;
		width: 100%;
	}

	.container {
		width: 92%;
	}

	.logo {
		text-align: center;
		top: 4.6rem;
		width: 75%;
	}

	.logo2 {
		left: 0;
		margin-left: 0;
		text-align: center;
		top: 10rem;
		width: 100%;
	}

	.logo img {
		width: 80%;
	}

	.folio {
		text-align: center;
	}

	.modal-content {
		padding: 1rem;
	}

	.avisoReserva {
		width: 100%;
	}

	.errorReserva {
		width: 100%;
	}

	.izquierda, .derecha {
		width: 100%;
	}

	.derecha {
		margin-left: 0;
	}

	.entrada, .salida {
		width: 100%;
	}

	.nombre, .apellido {
		width: 100%;
	}

	.entradaAlamitad {
		width: 100%;
	}

	.email {
		width: 84%;
	}

	.checkMail {
		width: 7%;
	}

	.nombreCuestionario, .apellidosCuestionario {
		width: 100%;
	}

	.telefonoCuestionario, .correoCuestionario {
		margin-bottom: 0.6rem;
		width: 100%;
	}

	.apellidosCuestionario:nth-child(2n), .correoCuestionario:nth-child(2n) {
		margin-left: 0;
	}

	.grupoRadio {
		width: 40%;
	}

	.etiquetaPregunta {
		width: 100%;
	}

	.firma {
		font-size: 0.8rem;
	}
}
