{% extends 'base_motor.html' %}

{% load static %}

{% block titulo %}Habitaciones{% endblock %}

{% block contenido %}
	{% for item in datos %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid logo_menu">
		    <a class="navbar-brand" href="#">
		    	<img src="/media/{{ item.edificio_logo }}" alt="" class="d-inline-block align-text-top logo">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarText">
		      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" href="{{ item.motor_direccion_menu }}" target="_blank">{{ item.motor_opcion_menu }}</a>
			        </li>
		      </ul>
		    </div>
		  </div>
		</nav>

		<section class="banner">
				<img src="/media/{{ item.edificio_banner }}" alt="banner">
			<div class="textos">
				<h2>{{ item.edificio_nombre }}</h2>
				<h6>{{ item.edificio_direccion }}</h6>
			</div>
			<div class="cuadro_negro"></div>
		</section>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-9 sin-fondo">
						<!--- Inicia Porceso de Reserva Web -->
						<div class="etapas">
							<div class="tarjeta-personalizada">
								<span class="numero">1</span><label class="etiqueta">Habitaciones y Tarifas</label>
							</div>

							<div class="tarjeta-personalizada">
								<span class="numero">2</span><label class="etiqueta">Información</label>
							</div>

							<div class="tarjeta-personalizada-activa">
								<span class="numero">3</span><label class="etiqueta">Confirmación</label>
							</div>
						</div>

						<h3>Datos</h3>

					</div>

					<div class="col-xs-3">
						<div method="POST" class="contenedor_formulario">
							{% csrf_token %}

							<div class="titulo_div">
								Mi reserva
							</div>

							<a href="#" class="btn btn-success btn-busca-hab">Buscar <i class="fas fa-search"></i></a>
							<!--<button type="submit" class="btn btn-sm btn-success btn-busca-hab">Guardar <i class="fas fa-search"></i></button>-->
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}

<!-- CORREGIR ESTE FOOTER -->
{% block footer %}
	{% for item in consulta %}
		{{ item.edificio_telefono }}
	{% endfor %}
{% endblock %}

{% block jsPersonal %}
	<script src="{% static 'js/all.min.js' %}"></script>
{% endblock %}
