{% extends 'base_motor.html' %}

{% load static %}

{% block titulo %}Habitaciones{% endblock %}

{% block contenido %}
	{% for item in datos %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid logo_menu">
		    <a class="navbar-brand" href="#">
		    	<img src="/media/{{ item.edificio_logo }}" alt="" class="d-inline-block align-text-top logo">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarText">
		      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" href="{{ item.motor_direccion_menu }}" target="_blank">{{ item.motor_opcion_menu }}</a>
			        </li>
		      </ul>
		    </div>
		  </div>
		</nav>

		<section class="banner">
				<img src="/media/{{ item.edificio_banner }}" alt="banner">
			<div class="textos">
				<h2>{{ item.edificio_nombre }}</h2>
				<h6>{{ item.edificio_direccion }}</h6>
			</div>
			<div class="cuadro_negro"></div>
		</section>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-9 sin-fondo">
						<!--- Inicia Porceso de Reserva Web -->
						<div class="etapas">
							<div class="tarjeta-personalizada-activa">
								<span class="numero">1</span><label class="etiqueta">Habitaciones y Tarifas</label>
							</div>

							<div class="tarjeta-personalizada">
								<span class="numero">2</span><label class="etiqueta">Información</label>
							</div>

							<div class="tarjeta-personalizada">
								<span class="numero">3</span><label class="etiqueta">Confirmación</label>
							</div>
						</div>

						<div class="filtro">
							<div class="tarjeta">
								<label class="etiqueta2">Habitaciones disponibles <span class="badge bg-success">2</span></label>

								<label class="etiqueta-filtro">
									Ordenar por:
								</label>
								<select name="agrupar" class="form-select filtro_habitaciones" id="agrupar">
									<option>Habitaciones</option>
									<option>Tarifas</option>
								</select>
							</div>
						</div>

						<div class="resultado">
							<div class="card mb-3 tarjeta-habitacion" style="max-width: 540px;">
							  <div class="row g-0">
							    <div class="col-md-4">
							      <img src="{% static 'img/Pcaribe.jpg' %}" class="img-fluid rounded-start" alt="caribe">
							    </div>
							    <div class="col-md-8">
							      <div class="card-body">
							        <h5 class="card-title">Nombre Habitación</h5>
							        <p class="card-text">Amenidades</p>
							        <p class="card-text"><small class="text-muted"><a href="#">Ver galería</a></small></p>
							      </div>
							    </div>
							  </div>
							</div>

							<div class="precio">
								<label class="desde"><small>Desde</small></label>
								<div class="text-primary monto">
									$ 800.00
								</div>
								<label class="noches"><small>por habitación por noche</small></label>
<!--
								<button class="btn btn-success btn-reservar">Reservar <i class="fas fa-bell"></i></button>
-->
								<a href="{% url 'reservar' %}" class="btn btn-sm btn-success btn-busca-hab">Reservar <i class="fas fa-bell"></i></a>
							</div>
						</div>
					</div>

					<div class="col-xs-3">
						<form method="POST" class="contenedor_formulario">
							{% csrf_token %}

							<div class="titulo_div">
								Buscar disponibilidad
							</div>

							<div class="input-group">
								<label>Llegada</label>
								<input type="date" name="fecha_entrada" id="id_fecha_entrada" class="form-control">
							</div>

							<div class="input-group">
								<label>Salida</label>
								<input type="date" name="fecha_salida" id="id_fecha_salida" class="form-control">
							</div>

							<div class="input-group">
								<label class="adultos">Adultos</label>
								<select class="form-select" name="adultos" id="id_adultos">
								  <option value="1" selected>1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								</select>
							</div>

							<div class="input-group">
								<label class="ninos">Niños <small>(Edades 0-10)</small></label>
								<select class="form-select" name="ninos" id="id_ninos">
								  <option value="0" selected>0</option>
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								</select>
							</div>

							<a href="#" class="btn btn-sm btn-success btn-busca-hab">Buscar <i class="fas fa-search"></i></a>
							<!--<button type="submit" class="btn btn-sm btn-success btn-busca-hab">Guardar <i class="fas fa-search"></i></button>-->
						</form>
					</div>
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}

<!-- CORREGIR ESTE FOOTER -->
{% block footer %}
	{% for item in consulta %}
		{{ item.edificio_telefono }}
	{% endfor %}
{% endblock %}

{% block jsPersonal %}
	<script src="{% static 'js/all.min.js' %}"></script>
{% endblock %}
