@font-face {
	font-family: 'Inter', sans-serif;
	src: url('../inter/Inter-Tegular.ttf');
}

html {
	font-family: 'Inter', sans-serif;
}
/* Bloqueador */
.bloquea {
	align-items: center;
	background-color: #FFFFFF;
	bottom: 0;
	display: flex;
	height: auto;
	left: 0;
	justify-content: center;
	opacity: 0.8;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

.logoCNTS {
	margin-bottom: 16%;
	position: absolute;
}

.msj_loading {
	margin-left: 1rem;
}

.oculto {
	display: none;
}
/* Bloqueador */
/* Sidebar */
.logoCompania {
	border-radius: 5px;
	height: auto;
	position: relative;
	width: 100px;
}

.sidebar-item .sidebar-link:hover {
    color: #6c6c6c;
    font-weight: bold;
}

span .fa-lightbulb {
	color: #FFFF00 !important;
	margin-left: 0.4rem;
}
/* Sidebar */
/* Formulario */
.formulario {
	padding-left: 2rem;
	padding-right: 2rem;
}

.izquierda, .derecha {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.derecha {
	margin-left: 1% !important;
}

.btn-guarda-hab, .btn-guarda-conf {
	margin-bottom: 1rem !important;
	margin-top: 1rem !important;
}

.imagen-pantalla {
	margin-bottom: 2%;
	margin-left: 5%;
	padding: 1rem !important;
	width: 30%;
}

.d-flex ol li {
	font-weight: bold;
	line-height: 2rem;
}
/* Formulario */
/* Titulos de las tarjetas de sección */
.regresar a {
	text-decoration: none !important;
}

.lnk-regresar {
	margin-left: 2rem !important;
}
/* Titulos de las tarjetas de sección */
/* Tablas */
thead tr {
	vertical-align: middle;
}

tbody tr td {
	vertical-align: top !important;
}

.card-link {
	display: inline-block;
	margin-left: 0 !important;
}

.disabled {
    cursor: none;
    opacity: 0.50;
    pointer-events: none;
}

.django-ckeditor-widget {
	position: relative;
	width: 100% !important;
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
}
/* Tablas */
/* FILTRO DE BUSQUEDA DE RESERVAS */
.reservaciones-titulo {
	display: inline-block;
	width: 20%;
}

.estatus-titulo {
	display: inline-block;
	width: 16%;
}

.filtro {
	display: inline-block;
	width: 40%;
}

.form-select {
	display: inline-block;
	width: 40%;
}