body {
    background-image: url('../img/fondoLogin.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.card {
	background-color: rgba(255, 255, 255, 0.30);
	backdrop-filter: blur(10px);
	border-left:  solid 1px rgba(255, 255, 255, 0.50);
	border-radius: 10px;
	border-top:  solid 1px rgba(255, 255, 255, 0.50);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.50);
}

.btn-login {
	width: 100%;
}