body {
	margin-bottom: 2rem;
}

footer {
    background: #d1ccc0;
    height: 50px;
    left: 0;
	margin-top: 2rem;
	position: absolute;
    right: 0;
}
/*
section .container {
	margin-bottom: 2rem;
}
*/
.logo_menu {
	width: 90%;
}

.logo {
	position: relative;
	width: 10%;
}

.banner, .banner img {
	/*background-image: url('../img/banner.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.textos {
	color: #ffffff;
	margin-top: 110px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 100;
}

.cuadro_negro {
	background-color: rgba(0, 0, 0, 0.60);
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 10;
}

.container {
	margin-top: 320px;
}
/* SECCIÓN: LISTA DE HABITACIONES */
.col-xs-9 {
	background-color: #ffffff;
	border-radius: 5px 5px 0 0;
	padding: 2rem !important;
	width: 74%;
}

.sin-fondo {
	background-color: rgba(255, 255, 255, 0);
}

.etapas {
	background-color: #ffffff;
	display: flex;
	margin-bottom: 1rem;
	margin-top: -3.6%;
}

.filtro {
	background-color: #ffffff;
	display: flex;
	height: 3.1rem;
	margin-bottom: 1rem;
}

.resultado {
	margin-bottom: 1rem;
	padding: 0.4rem;
	position: relative;
}

.filtro_habitaciones {
	position: absolute;
	right: 1rem;
	top: 0.4rem;
	width: 18%;
}

.tarjeta {
	background-color: #ffffff;
	display: flex;
	height: 3.1rem;
	position: relative;
	width: 100%;
}

.tarjeta-personalizada-activa {
	background-color: #008000;
	color: #ffffff;
	display: flex;
	height: 3.1rem;
	position: relative;
	width: 33%;
}

.tarjeta-personalizada-activa:before {
    border-width: 25px;
    border-style: solid;
    border-color:  transparent transparent transparent #008000;
	content: "";
    height: 0;
    left: 100%;
    position: absolute;
    top: 0;
    width: 0;
}

.tarjeta-personalizada {
	background-color: #ffffff;
	color: #c9c9c9;
	display: flex;
	height: 3.1rem;
	width: 33%;
}

.tarjeta-habitacion {
	display: inline-block;
	width: 70%;
}

.numero {
	font-size: 3rem;
	font-weight: bold;
	margin-left: 2rem;
	margin-right: 0.4rem;
	margin-top: -4%;
}

.etiqueta {
	margin-top: 5%;
}

.etiqueta2 {
	margin-left: 1rem;
	margin-top: 1.4%;
}

.etiqueta-filtro {
	margin-left: 18rem;
	margin-top: 1.4%;
}

.precio {
	background-color: #ffffff;
	border: 0 solid transparent;
	border-radius: 0.25rem;
	box-shadow: 0 0 .875rem 0 rgba(33, 37, 41, .05);
	display: inline-block;
	margin-left: 1%;
	padding-bottom: 0.4rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	text-align: center;
	vertical-align: top;
	width: 36%;
}

.monto {
	font-size: 1.4rem;
	font-weight: bold;
	width: 100%;
}

.desde {
	padding-top: 0;
	margin-top: 0;
}

.noches {
	margin-bottom: 0.3rem;
}

.btn-reservar {
	margin-top: 0.2rem;
	width: 100%;
}
/* SECCIÓN: LISTA DE HABITACIONES */
/* SECCIÓN: CUADRO DE RESERVA */
.col-xs-3 {
	border-radius: 5px 5px 0 0;
	margin-left: 1%;
	right: 3%;
	top: 390px;
	width: 24%;
}
/* SECCIÓN: CUADRO DE RESERVA */
/* FORMULARIO */
.contenedor_formulario {
	background-color: #ffffff;
	border-radius: 5px 5px 0 0;
	bottom: 5.1rem;
	height: 340px;
	position: fixed;
	top: 390px;
	width: 23%;
}

.row {
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
	padding-left: 0;
	padding-right: 0;
}

label {
	width: 100%;
}

.adultos, .ninos {
	width: 60%;
}

.titulo_div {
	background-color: #c6c6c6;
	border-radius: 5px 5px 0 0;
	padding: 1rem;
	width: 100%;
}

.input-group {
	margin-left: 3%;
	margin-top: 0.5rem;
	width: 94%;
}

.btn-busca-hab {
	margin-left: 3%;
	width: 94%;
}
/* FORMULARIO */

/* POLITICAS */
/* POLITICAS */