h2 {
	margin-top: 0.8rem;
}

.llegada_reserva {
	display: inline-block;
	width: 50%;
}

.numero_reserva {
	border: none;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	text-align: right;
	width: 49%;
}

.form-label {
	width: 100%;
}

.nombapell {
	display: inline-block;
	width: 32.8%;
}

.fecha, .cincuenta {
	display: inline-block;
	width: 49%;
}

.treinta {
	display: inline-block;
	width: 32.8%;
}