{% extends 'base.html' %}

{% load static %}

{% block scriptCSS %}<link href="{% static 'css/rack.css' %}" rel="stylesheet">{% endblock %}

{% block titulo %}Rack{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'tarifa' %}">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">Reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Rack{% endblock %}

{% block contenido %}
	<section class="calendario_rack">
		<table id="tabla_rack" class="table table-bordered table-responsive">
			<tr></tr>
		</table>
	</section>
{% endblock %}

{% block scriptJS %}
	<script src="{% static 'js/rack.js' %}"></script>
{% endblock %}