{% extends 'base_motor.html' %}

{% load static %}

{% block titulo %}Buscar{% endblock %}

{% block contenido %}

	{% for item in consulta %}
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid logo_menu">
		    <a class="navbar-brand" href="#">
		    	<img src="/media/{{ item.edificio_logo }}" alt="" class="d-inline-block align-text-top logo">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarText">
		      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			        	<a class="nav-link active" aria-current="page" href="{{ item.motor_direccion_menu }}" target="_blank">{{ item.motor_opcion_menu }}</a>
			        </li>
		      </ul>
		    </div>
		  </div>
		</nav>

		<section class="banner">
				<img src="/media/{{ item.edificio_banner }}" alt="banner">
			<div class="textos">
				<h2>{{ item.edificio_nombre }}</h2>
				<h6>{{ item.edificio_direccion }}</h6>
			</div>
			<div class="cuadro_negro"></div>
		</section>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-xs-9">
						{{ item.motor_politicas_reservacion | safe }}
					</div>

					<div class="col-xs-3">
						<form method="POST" class="contenedor_formulario">
							{% csrf_token %}


								<div class="titulo_div">
									Buscar disponibilidad
								</div>

								<div class="input-group">
									<label>Llegada</label>
									<input type="date" name="fecha_entrada" id="id_fecha_entrada" class="form-control">
								</div>

								<div class="input-group">
									<label>Salida</label>
									<input type="date" name="fecha_salida" id="id_fecha_salida" class="form-control">
								</div>

								<div class="input-group">
									<label class="adultos">Adultos</label>
									<select class="form-select" name="adultos" id="id_adultos">
									  <option value="1" selected>1</option>
									  <option value="2">2</option>
									  <option value="3">3</option>
									  <option value="4">4</option>
									</select>
								</div>

								<div class="input-group">
									<label class="ninos">Niños <small>(Edades 0-10)</small></label>
									<select class="form-select" name="ninos" id="id_ninos">
									  <option value="0" selected>0</option>
									  <option value="1">1</option>
									  <option value="2">2</option>
									  <option value="3">3</option>
									</select>
								</div>
								<a href="{% url 'busca_disponibilidad' %}" class="btn btn-sm btn-success btn-busca-hab">Buscar <i class="fas fa-search"></i></a>
								<!--<button type="submit" class="btn btn-sm btn-success btn-busca-hab">Guardar <i class="fas fa-search"></i></button>-->

						</form>
					</div>
				</div>
			</div>
		</section>
	{% endfor %}

{% endblock %}

<!-- CORREGIR ESTE FOOTER -->
{% block footer %}
	<footer>
		{% for item in consulta %}
			{{ item.edificio_telefono }}
		{% endfor %}
	</footer>
{% endblock %}

{% block jsPersonal %}
	<script src="{% static 'js/all.min.js' %}"></script>
	<script src="{% static 'js/motor.js' %}"></script>
{% endblock %}
