{% extends 'base_motor.html' %}

{% load static %}

{% block titulo %}Registro{% endblock %}

{% block cssPersonal %}
	<link rel="stylesheet" href="{% static 'css/registro.css' %}">
	<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
{% endblock %}

{% block contenido %}
	<!-- FOTOS -->
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="img-responsive foto" src="{% static 'img/fotos/Fachada-3.jpg' %}" alt="">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <img class="img-responsive foto" src="{% static 'img/fotos/Recepcion-2.jpg' %}" alt="">
                    </div>
                    <div class="col">
                        <img class="img-responsive foto" src="{% static 'img/fotos/Recepcion-12.jpg' %}" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="img-responsive foto" src="{% static 'img/fotos/842edc62.webp' %}" alt="">
                    </div>
                    <div class="col">
                        <img class="img-responsive foto" src="{% static 'img/fotos/842edc62.webp' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!-- DATOS DEL HOTEL -->
    <div class="container">
        <hr>
        <aside class="servicios">
            <div class="logoNombre">
                <img src="{% static 'img/logo.jpg' %}" alt="">
                <!--<h1>Hotel Olmeca Plaza</h1>-->
            </div>
            <hr>
    
            <h2>Servicios</h2>
            <ul class="lista">
                <li class="item-lista"><i class="fas fa-swimmer"></i> Alberca</li>
                <li class="item-lista"><i class="fas fa-dog"></i> Mascotas</li>
                <li class="item-lista"><i class="fas fa-wifi"></i> Wifi gratis</li>
                <li class="item-lista"><i class="fas fa-snowflake"></i> Aire acondicionado</li>
                <li class="item-lista"><i class="fas fa-tshirt"></i> Lavandería</li>
                <li class="item-lista"><i class="fas fa-utensils"></i> Restaurante</li>
            </ul>
    
            <h2>Medidas de limpieza y seguridad</h2>
            <ul class="lista">
                <li class="item-lista"><i class="fas fa-pump-soap"></i> Limpieza y desinfección</li>
                <li class="item-lista"><i class="fas fa-hand-holding-water"></i> Gel antibacterial</li>
                <li class="item-lista"><i class="fas fa-head-side-mask"></i> Equipo de protección personal</li>
            </ul>
        </aside>

        <aside class="ubicacion">
            <!-- MAPA LEAFTLET -->
            <div id="mapContainer" class="mapa"></div>

            <h2>Sitios de interés</h2>
            <ul class="lista-ubicacion">
                <li class="item-lista-ubicacion">
                    <div class="columnaIcono"><i class="fas fa-building"></i> </div><div class="columnaNombre">Torre del Caballero </div><div class="columna"><span class="distancia">a 5 minutos a pie</span></div>
                </li>
                <li class="item-lista-ubicacion">
                    <div class="columnaIcono"><i class="fas fa-plane"></i> </div><div class="columnaNombre">Aeropuerto </div><div class="columna"><span class="distancia">a 17 minutos en auto</span></div>
                </li>
                <li class="item-lista-ubicacion">
                    <div class="columnaIcono"><i class="fas fa-vihara"></i> </div><div class="columnaNombre">Museo Carlos Pellicer Cámara </div><div class="columna"><span class="distancia">a 4 minutos en auto</span></div>
                </li>
            </ul>
        </aside>

        <hr>
    </div>

    <!-- BÚSQUEDA -->
	<div class="formulario">
		<form method="POST">
			{% csrf_token %}

			<h5>Datos de su Llegada / Data of your arrival</h5>
			<hr>
			<div class="grupo">
				<i class="fas fa-calendar-alt"></i>
				<label><b>Llegada / Check-in:</b></label>
				<input type="date" name="fecha_entrada" id="fecha_entrada" value="{{ entrada }}">
			</div>

			<div class="grupo">
				<i class="fas fa-calendar-alt"></i>
				<label><b>Salida / Check-out:</b></label>
				<input type="date" name="fecha_salida" id="fecha_salida" value="{{ salida }}">
			</div>

			<div class="grupo">
				<i class="fas fa-user"></i>
				<label><b>Personas / People:</b></label><br>
				<input type="text" name="habitacion" id="habitacion" value="{{ habitacion }}">
			</div>

			<button class="btn buscar" id="btn_buscar" type="submit">Modificar su búsqueda <span><i class="fas fa-search"></i></span></button>
		</form>
	</div>

	<!-- RESULTADOS DE LA BÚSQUEDA -->
	<div class="container tarjetas-habitaciones">
        <div class="card">
            <img src="{% static 'img/fotos/Recepcion-2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Habitación estándar</h5>
                <p class="card-text">
                    <ul class="lista-datos_habitacion">
                        <li class="item-lista-habitacion"><i class="fas fa-user-friends"></i> 4 personas</li>
                        <li class="item-lista-habitacion"><i class="fas fa-bed"></i> 1 cama matrimonial o 2 camas matrimoniales</li>
                        <li class="item-lista-habitacion"><i class="fas fa-wifi"></i> Wifi gratuito</li>
                        <li class="item-lista-habitacion"><i class="fas fa-coffee"></i> Desayuno completo</li>
                    </ul>
                    <p>
                        <h3><b>MXN$650</b></h3>
                        <div class="por-noche">por noche</div>
                        <h6>MXN$2,301 por 3 noches</h6>
                        <div class="por-noche">Impuestos y cargos incluidos</div>
                    </p>
                </p>
                <a href="#" class="btn btn-primary">Reservar</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'img/fotos/Recepcion-2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Habitación estándar</h5>
                <p class="card-text">
                    <ul class="lista-datos_habitacion">
                        <li class="item-lista-habitacion"><i class="fas fa-user-friends"></i> 4 personas</li>
                        <li class="item-lista-habitacion"><i class="fas fa-bed"></i> 1 cama matrimonial o 2 camas matrimoniales</li>
                        <li class="item-lista-habitacion"><i class="fas fa-wifi"></i> Wifi gratuito</li>
                        <li class="item-lista-habitacion"><i class="fas fa-coffee"></i> Desayuno completo</li>
                    </ul>
                    <p>
                        <h3><b>MXN$650</b></h3>
                        <div class="por-noche">por noche</div>
                        <h6>MXN$2,301 por 3 noches</h6>
                        <div class="por-noche">Impuestos y cargos incluidos</div>
                    </p>
                </p>
                <a href="#" class="btn btn-primary">Reservar</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'img/fotos/Recepcion-2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Habitación estándar</h5>
                <p class="card-text">
                    <ul class="lista-datos_habitacion">
                        <li class="item-lista-habitacion"><i class="fas fa-user-friends"></i> 4 personas</li>
                        <li class="item-lista-habitacion"><i class="fas fa-bed"></i> 1 cama matrimonial o 2 camas matrimoniales</li>
                        <li class="item-lista-habitacion"><i class="fas fa-wifi"></i> Wifi gratuito</li>
                        <li class="item-lista-habitacion"><i class="fas fa-coffee"></i> Desayuno completo</li>
                    </ul>
                    <p>
                        <h3><b>MXN$650</b></h3>
                        <div class="por-noche">por noche</div>
                        <h6>MXN$2,301 por 3 noches</h6>
                        <div class="por-noche">Impuestos y cargos incluidos</div>
                    </p>
                </p>
                <a href="#" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsPersonal %}
	<script src="{% static 'js/leaflet.js' %}"></script>
	<script src="{% static 'js/registro.js' %}"></script>
	<script src="{% static 'js/mapa.js' %}"></script>
{% endblock %}
