{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 404</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link href="{% static 'css/app.css' %}" rel="stylesheet">
	<link href="{% static 'css/core.css' %}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-12 col-xxl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">
						<h5 class="card-title mb-0 regresar">
							Error 404 <span class="lnk-regresar"><a href="{% url 'login' %}"><i class="fas fa-chevron-left"></i> Regresar</a></span>
						</h5>
					</div>
					<div class="card-body">
						La página a la que está tratando de ir, no existe...
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row text-muted">
				<div class="col-6 text-start">
					<p class="mb-0">
						<a class="text-muted" href="https://www.nibirus.com.mx/" target="_blank"><strong>Consultores en Negocios, Tecnología y Sistemas</strong></a> &copy;
					</p>
				</div>

				<div class="col-6 text-end">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a class="text-muted" href="#" target="_blank">Mesa de Ayuda</a>
						</li>
						<li class="list-inline-item">
							<a class="text-muted" href="#" target="_blank">Aviso Legal</a>
						</li>
						<li class="list-inline-item">
							<a class="text-muted" href="#" target="_blank">Política de Privacidad</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>