{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reservas | {% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/motor.css' %}">

	{% block cssPersonal %}{% endblock %}
</head>
<body class="animated fadeIn" style="background-color:#E5E9EC;">
	{% block contenido %}{% endblock %}

	{% block footer %}{% endblock %}

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	{% block jsPersonal %}{% endblock %}
</body>
</html>