{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin">
	<meta name="keywords" content="bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, html, front-end, web">

	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

	<title>CNTS | {% block titulo %}MotorReservas{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link href="{% static 'css/app.css' %}" rel="stylesheet">
	<link href="{% static 'css/core.css' %}" rel="stylesheet">
	{% block scriptCSS %}{% endblock %}
</head>

<body>
	<!--
	<div class="bloquea" id="bloquea">
		<div class="logoCNTS">
			<img src="{% static 'img/logoCNTS.png' %}" alt="loading">
		</div>
		<img src="{% static 'img/Triple_intersection.gif' %}" alt="loading">
		<div class="msj_loading">
			Estamos preparando su escritorio...
		</div>
		<div class="msj_error" id="msj_error"></div>
	</div>
	-->
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<div class="sidebar-brand">
					<span class="align-middle"><img class="logoCompania" src="{% static 'img/logo.png' %}" alt="logo compañía"></span>
				</div>

				<ul class="sidebar-nav">
					{% block menu_lateral %}
					{% endblock %}
				</ul>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<!-- Menú de idiomas -->
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
								<div class="position-relative">
									<i class="fas fa-language"></i>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
								<div class="dropdown-menu-header">
									<div class="position-relative">
										{% language 'en_us' %}
											{% trans '2 Idiomas' %}
										{% endlanguage %}
									</div>
								</div>
								<div class="list-group">
									<form action="/i18n/setlang/" method="POST">
										{% csrf_token %}

										<a href="{{ lang.0 }}" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2">
													<img src="{% static 'img/icons/esp.png' %}" class="avatar img-fluid rounded-circle" alt="Vanessa Tucker">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">{% language 'en_us' %}{% trans 'Español' %}{% endlanguage %}</div>
													<div class="text-muted small mt-1">{% language 'en' %}{% trans 'Seleccionado' %}{% endlanguage %}</div>
												</div>
											</div>
										</a>

										<a href="{{ lang.1 }}" class="list-group-item">
											<div class="row g-0 align-items-center">
												<div class="col-2" id="avatar">
													<img src="{% static 'img/icons/ing.png' %}" class="avatar img-fluid rounded-circle" alt="">
												</div>
												<div class="col-10 ps-2">
													<div class="text-dark">{% trans 'Inglés' %}</div>
													<div class="text-muted small mt-1">{% trans 'Disponible' %}</div>
												</div>
											</div>
										</a>
									</form>
								</div>
							</div>
						</li>

						<!-- Menú de usuario -->
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
	                			<i class="align-middle" data-feather="settings"></i>
	              			</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
								<input type="text" name="user" id="id_user" value="{{ user }}" hidden="hidden">
	                			<img class="avatar img-fluid rounded me-1" id="avatar"/> <span class="text-dark" id="img-text-user">{{ user | title }}</span>
	              			</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{% url 'perfil' %}"><i class="fas fa-user-circle"></i> Perfil</a>
								<div id="usuario_actual"></div>
								<!--
								<a class="dropdown-item" href="#"><i class="fas fa-chart-bar"></i> Estadísticas de uso</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fas fa-question-circle"></i> Ayuda</a>
								-->
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> {% trans 'Log out' %}</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3"><strong>{% block titulo_seccion_a %}{% endblock %}</strong> <small>{% block titulo_seccion_b %}{% endblock %}</small></h1>
				</div>

				{% block contenido %}{% endblock %}
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="https://www.nibirus.com.mx/" target="_blank"><strong>Consultores en Negocios, Tecnología y Sistemas</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="#" target="_blank">{% trans 'Mesa de Ayuda' %}</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#" target="_blank">{% trans 'Aviso Legal' %}</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="#" target="_blank">{% trans 'Política de Privacidad' %}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/all.min.js' %}"></script>
	<script src="{% static 'js/core.js' %}"></script>
	<script src="{% static 'js/perfil.js' %}"></script>
	{% block scriptJS %}{% endblock %}
</body>

</html>
