{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin">
	<meta name="keywords" content="bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, html, front-end, web">

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

	<title>Login | CNTS</title>

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link href="{% static 'css/app.css' %}" rel="stylesheet">
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Bienvenido</h1>
							<p class="lead">
								Inicie sesión en su cuenta para continuar
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<div class="text-center">
										<img src="{% static 'img/avatars/avatar.jpg' %}" alt="Oscar Custodio" class="img-fluid rounded-circle" width="132" height="132" />
									</div>
									<form method="POST">
										{% csrf_token %}

										<div class="mb-3">
											<label class="form-label">Usuario</label>
											<input class="form-control form-control-lg" type="text" name="username" id="id_username" placeholder="Usuario" required="required" />
										</div>
										<div class="mb-3">
											<label class="form-label">Clave</label>
											<input class="form-control form-control-lg" type="password" name="password" id="id_password" placeholder="Clave" required="required" />
											<small>
            						<a href="#">¿Olvidó su contraseña?</a>
          						</small>
										</div>
										<div>
											<label class="form-check">
						            			<input class="form-check-input" id="recordar" type="checkbox" name="recordar">
						            			<span class="form-check-label">
						              				Recordar mis datos
						            			</span>
          									</label>
										</div>
										<div class="text-center mt-3">
											<button class="btn btn-lg btn-primary btn-login" id="btn-login">Login <i class="fas fa-sign-in-alt"></i></button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/all.min.js' %}"></script>
	<script src="{% static 'js/login.js' %}"></script>
</body>

</html>