{% extends 'base.html' %}

{% load static %}

{% block titulo %}Reserva{% endblock %}

{% block scriptCSS %}<link rel="stylesheet" href="{% static 'css/reserva.css' %}">{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'tarifa' %}">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">Reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Reserva{% endblock %}{% block titulo_seccion_b %}Generar{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0 regresar">
						Reserva <span class="lnk-regresar"><a href="{% url 'reserva' %}"><i class="fas fa-chevron-left"></i> Regresar</a></span>
					</h5>
				</div>

				<form class="formulario" method="POST">
					{% csrf_token %}

					<input type="text" name="typtab" value="A" hidden="hidden">
					<h2>Datos de su Llegada</h2>

					<div class="izquierda">
						<label class="form-label">Fecha de Llegada - Fecha de Salida</label>
						{{ form.fhaentda }} {{ form.fhasalda }}

						<label class="form-label">Tipo de Habitación - Cuartos</label>
						<select name="cveestda1" id="id_cveestda1" class="form-select cincuenta">
							<option selected="selected"></option>
							{% for item in consulta %}
								<option value="{{ item.clave }}">{{ item.descrip }}</option>
							{% endfor %}
						</select>
						{{ form.numcuada }}
					</div>
					<div class="derecha">

						<label class="form-label">Adultos</label>
						{{ form.numperda }}

						<label class="form-label">Niños</label>
						{{ form.infantes }}
					</div>

					<h2>Datos del Huésped</h2>


					<label class="form-label">Nombre Completo</label>
					{{ form.nombr_da }} {{ form.appat_da }} {{ form.apmat_da }}

					<div class="izquierda">
						{{ form.nombreda }} {{ form.fharesda }} {{ form.statusda }}

						<label class="form-label">Correo</label>
						{{ form.email_da }}
					</div>
					<div class="derecha">
						<label class="form-label">Telefono</label>
						{{ form.telefoda }}
					</div>

					<label class="form-label">Origen</label>
					{{ form.ciudadda }} {{ form.estadoda }} {{ form.paisda }}

					<h2>Datos del Pago</h2>

					<div class="izquierda">
						<label class="form-label">Depósito</label>
						{{ form.deposida }}

						<label class="form-label">Fecha del Depósito</label>
						{{ form.fhadepda }}
					</div>
					<div class="derecha">
						<label class="form-label">Moneda</label>
						{{ form.tpocam1da }}

						<label class="form-label">Tarifa</label>
						{{ form.tarifada }}
						{{ form.iniresda }}
					</div>

					<button class="btn btn-success btn-guarda-hab">Guardar <i class="fas fa-save"></i></button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scriptJS %}
	<script src="{% static 'js/agrega_reserva.js' %}"></script>
{% endblock %}
