{% extends 'base.html' %}

{% load static %}

{% block titulo %}Configuración{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="pages-sign-up.html">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">Reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Configuración{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0 regresar">
						Habitación <span class="lnk-regresar"><a href="{% url 'edificio' %}"><i class="fas fa-chevron-left"></i> Regresar</a></span>
					</h5>
				</div>

				<form class="formulario" method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="izquierda">
						<label class="form-label">Nombre</label>
						{{ form.nombre }}

						<label class="form-label">Nombre Corto</label>
						{{ form.nombre_corto }}

						<label class="form-label">Dirección</label>
						{{ form.direccion }}

						<label class="form-label">Correo</label>
						{{ form.correo }}

						<label class="form-label">Telefono</label>
						{{ form.telefono }}

						<label class="form-label">Paǵina Web</label>
						{{ form.web }}

						<label class="form-label">Facebook</label>
						{{ form.facebook }}
					</div>
					<div class="derecha">
						<label class="form-label">Twitter</label>
						{{ form.twitter }}

						<label class="form-label">Instagram</label>
						{{ form.instagram }}

						<label class="form-label">Foto del Hotel</label>
						{{ form.foto }}

						<label class="form-label">Logo del Hotel</label>
						{{ form.logo }}

						<label class="form-label">Banner</label>
						{{ form.banner }}

						<label class="form-label">Fondo de la Página de Reservas Directas</label>
						{{ form.background_reserva_directa }}
					</div>

					<button class="btn btn-success btn-guarda-hab">Guardar <i class="fas fa-save"></i></button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
