{% extends 'base.html' %}

{% load static %}

{% block titulo %}Configuración{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="#">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="pages-sign-up.html">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">Reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Configuración{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0 regresar">
						Colores e Idioma <span class="lnk-regresar"><a href="{% url 'sitio' %}"><i class="fas fa-chevron-left"></i> Regresar</a></span>
					</h5>
				</div>

				<form class="formulario" method="POST">
					{% csrf_token %}

					<div class="izquierda">
						<label class="form-label">Nombre para la configuracion</label>
						<input type="text" name="nombre_configuracion" class="form-control" required="required" id="id_nombre_configuracion">

						<label class="form-label">Color de Fondo del Área de Trabajo</label>
						<input type="color" name="color_fondo" class="form-control" id="id_color_fondo">

						<label class="form-label">Color de Fondo del Menú Lateral</label>
						<input type="color" name="color_fondo_sidebar" class="form-control" id="id_color_fondo_sidebar">
					</div>
					<div class="derecha">
						<label class="form-label">Color de Fondo de la Barra de Navegación</label>
						<input type="color" name="color_fondo_navbar" class="form-control" id="id_color_fondo_navbar">

						<label class="form-label">Color de Fondo del Pie de Página</label>
						<input type="color" name="color_fondo_footer" class="form-control" id="id_color_fondo_footer">

						<label class="form-label">Idioma del Sitio</label>
						<select name="idioma" class="form-select" required="" id="id_idioma">
							<option value=""  selected="selected"></option>
						  	<option value="ESP">Español</option>
						  	<option value="ING">Inglés</option>
						</select>
					</div>

					<button class="btn btn-success btn-guarda-conf">Guardar <i class="fas fa-save"></i></button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scriptJS %}
	<script src="{% static 'js/sitio.js' %}"></script>
{% endblock %}
