{% extends 'base.html' %}

{% load static %}

{% block titulo %}Configuración{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header sidebar-header-activo">
		Configuración
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'tarifa' %}">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">Reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Configuración{% endblock %}{% block titulo_seccion_b %}Sitio Web{% endblock %}

{% block contenido %}
	<p>
		<a href="{% url 'agrega_configuracion' %}" class="btn btn-primary btn-agrega-hab">Agregar Configuración <i class="fas fa-sliders-h"></i></a>
	</p>

	<!-- Sitio Web -->
	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0">
						Colores
					</h5>
				</div>

				<div  class="d-flex">
					<img src="{% static 'img/pantalla.png' %}" class="img-fluid imagen-pantalla" alt="pantalla">

					<ol>
						<li>Área de Trabajo</li>
						<li>Menú Lateral</li>
						<li>Barra de Menú</li>
						<li>Pie de Página</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0">
						Colores e Idioma
					</h5>
				</div>

				<div class="table-responsive">
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Logo</th>
								<th>Área de Trabajo</th>
								<th>Menú Lateral</th>
								<th>Barra de Menú</th>
								<th>Pie de Página</th>
								<th>Idioma</th>
								<th>Estatus</th>
							</tr>
						</thead>
						<tbody>
							{% for elemento in consulta %}
								<tr>
									<td>{{ elemento.nombre_configuracion }}</td>
									<td><img src="{% static 'elemento.logo' %}" alt="logo"></td>
									<td><input type="color" value="{{ elemento.color_fondo }}"></td>
									<td><input type="color" value="{{ elemento.color_fondo_navbar }}"></td>
									<td><input type="color" value="{{ elemento.color_fondo_sidebar }}"></td>
									<td><input type="color" value="{{ elemento.color_fondo_footer }}"></td>
									<td>{{ elemento.idioma }}</td>
									<td>
										{% if elemento.status %}
											<span class="badge bg-success">Activa</span>
										{% else %}
											<span class="badge bg-danger">Inactiva</span>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
