{% extends 'base.html' %}

{% block titulo %}Configuración{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'tarifa' %}">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Configuración{% endblock %}{% block titulo_seccion_b %}Edificio{% endblock %}

{% block contenido %}
	<p>
		<a href="{% url 'agrega_edificio' %}" class="btn btn-primary btn-agrega-hab">Agregar Edificio <i class="fas fa-hotel"></i></a>
	</p>

	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0">
						Edificios
					</h5>
				</div>

				<div class="table-responsive">
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Direccion</th>
								<th>Estado</th>
								<th>Correo</th>
								<th>Telefono</th>
								<th>Página Web</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for item in consulta %}
								<tr>
									<td>{{ item.nombre }}</td>
									<td>{{ item.direccion }}</td>
									<td>{{ item.estado }}</td>
									<td>{{ item.correo }}</td>
									<td>{{ item.telefono }}</td>
									<td>{{ item.web }}</td>
									<td>
										<a class="card-link" href="{% url 'edita_edificio' item.id %}">
											<span class="badge bg-primary">Editar <i class="fas fa-edit"></i></span>
										</a>

										<a class="card-link" href="#">
											<span class="badge bg-danger">Cancelar <i class="fas fa-trash"></i></span>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}