{% extends 'base.html' %}

{% load static %}

{% load l10n %}

{% block titulo %}Reserva{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'tarifa' %}">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Reserva{% endblock %}

{% block contenido %}
	<p>
		<a href="{% url 'agrega_reserva' %}" class="btn btn-primary btn-agrega-hab">Agregar Reserva <i class="fas fa-calendar-check"></i></a>

		{% for item in hotel %}
			<a href="{% url 'reserva_directa' item.nombre_corto %}" class="btn btn-success btn-agrega-hab" target="_blank">Lanzar CheckIn Digital <i class="fas fa-calendar-check"></i></a>
		{% endfor %}
	</p>

	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0 reservaciones-titulo">
						Reservaciones
					</h5>

					<div class="filtro">
						<h5 class="card-title mb-0 estatus-titulo">Estatus</h5>
						<select name="filtro" id="filtro" class="form-select">
							<option value="C">Canceladas</option>
							<option value="O">Ocupadas</option>
							<option value="R" selected="selected">Reservadas</option>
						</select>
					</div>

				</div>

				<div class="card-body">
					{% if lista_reservas %}
						<div class="table-responsive">
							<table class="table table-hover my-0" id="tabla_resultados">
								<thead>
									<tr>
										<th>Nombre Completo</th>
										<th>
											Estatus - Quién captura
										</th>
										<th>
											Fechas: <br>
											<small>
												de Entrada - de Salida
											</small>
										</th>
										<th>Fecha de Reservación</th>
										<th>Cantidad y Tipo de Habitación</th>
										<th>Tarifa</th>
										<th>Personas</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody id="table-body">
									{% for item in lista_reservas %}
										<tr>
											<td>
												{% if item.apellido_materno %}
													{{ item.apellido_paterno }} {{ item.apellido_materno }}, {{ item.nombre }}
												{% else %}
													{{ item.apellido_paterno }}, {{ item.nombre }}
												{% endif %}
											</td>
											<td>{{ item.status }} - <small>{{ item.usuario_reserva }}</small></td>
											<td>
												<small>
													del <b>{{ item.fecha_entrada }}</b> 
													al <b>{{ item.fecha_salida }}</b>
												</small>
											</td>
											<td>{{ item.fecha_reservacion }}</td>
											<td>{{ item.cuartos }} {{ item.tipo_habitacion__nombre }}</td>
											<td>
												$ {{ item.tarifa | unlocalize }}
												{% if item.moneda == 0 %}
													<small> Dólares</small>
												{% elif item.moneda == 1 %}
													<small> Euros</small>
												{% elif item.moneda == 2 %}
													<small> Pesos Mexicanos</small>
												{% endif %}
											</td>
											<td>
												{% if item.ninos %}
													<small>
														{{ item.adultos }} Adulto(s) {{ item.ninos }} Niño(s)
													</small>
												{% else %}
													<small>
														{{ item.adultos }} Adulto(s)
													</small>
												{% endif %}
											</td>
											<td>
												<a class="card-link" href="{% url 'edita_reserva' item.id %}">
													<span class="badge bg-primary">Editar <i class="fas fa-edit"></i></span>
												</a>
												<a class="card-link" onclick="recuperaId({{ item.id }})" data-bs-toggle="modal" data-bs-target="#cancelaModal" id="borradoBoton">
													<span class="badge bg-danger">Cancelar <i class="fas fa-calendar-times"></i></span>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% else %}
						<div class="alert alert-danger" role="alert">
							No se han hecho reservaciones!!!
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="cancelaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
				<div class="modal-header">
				    <h5 class="modal-title" id="exampleModalLabel">Borrar Registro</h5>
				    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
				    Seguro de borrar el registro? <input type="text" id="etiqueta" hidden="hidden">
				    <br><br>
				    <input type="text" name="valor" id="valor" hidden="hidden">
					<small class="text-danger">Esta acción no puede deshacerse</small>
				</div>

				<div class="modal-footer">
				    <button type="button" class="btn btn-danger" id="btn-borrar" data-bs-dismiss="modal" href="#">Borrar</button>
				    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scriptJS %}
	<script src="{% static 'js/reserva.js' %}"></script>
{% endblock %}