{% extends 'base.html' %}

{% load static %}

{% block titulo %}Configuración{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'tarifa' %}">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">Reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Configuración{% endblock %}{% block titulo_seccion_b %}Habitación{% endblock %}

{% block contenido %}
	<p>
		<a href="{% url 'agrega_habitacion' %}" class="btn btn-primary btn-agrega-hab">Agregar Habitación <i class="fas fa-door-open"></i></a>
	</p>

	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0">
						Habitaciones
					</h5>
				</div>

				<div class="card-body">
					{% if lista_habitaciones %}
						<div class="table-responsive">
							<table class="table table-hover my-0">
								<thead>
									<tr>
										<th>Clave</th>
										<th>Descripción</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									{% for elemento in lista_habitaciones %}
										<tr>
											<td>{{ elemento.clave }}</td>
											<td>{{ elemento.nombre }}</td>
											<td>
												<a class="card-link" href="{% url 'edita_habitacion' elemento.id %}">
													<span class="badge bg-primary">Editar <i class="fas fa-edit"></i></span>
												</a>

												<a class="card-link" href="{% url 'borra_habitacion' elemento.id %}">
													<span class="badge bg-danger">Borrar <i class="fas fa-trash"></i></span>
												</a>

												<a class="card-link" href="{% url 'agrega_foto' elemento.id %}">
													<span class="badge bg-info">Fotos <i class="fas fa-image"></i></span>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% else %}
						<div class="alert alert-danger" role="alert">
							No se han cargado habitaciones!!!
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
