{% extends 'base.html' %}

{% load static %}

{% load l10n %}

{% block titulo %}Reserva{% endblock %}

{% block scriptCSS %}<link rel="stylesheet" href="{% static 'css/reserva.css' %}">{% endblock %}

{% block menu_lateral %}
	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'dashboard' %}">
			<i class="fas fa-chart-bar"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-header">
		Configuración
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'edificio' %}">
			<i class="fas fa-hotel"></i> <span class="align-middle">Propiedad</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'habitacion' %}">
			<i class="fas fa-door-closed"></i> <span class="align-middle">Habitación</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'tarifa' %}">
			<i class="fas fa-dollar-sign"></i> <span class="align-middle">Tarifa</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'sitio' %}">
			<i class="fas fa-sliders-h"></i> <span class="align-middle">Sitio Web</span>
		</a>
	</li>

	<li class="sidebar-header">
		Motor de Reservaciones
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'motor' %}">
			<i class="fas fa-cog"></i> <span class="align-middle">Motor</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reservaciones
	</li>

	<li class="sidebar-item active">
		<a class="sidebar-link" href="{% url 'reserva' %}">
			<i class="fas fa-calendar-check"></i> <span class="align-middle">Reserva</span>
		</a>
	</li>

	<li class="sidebar-header">
		Reportes
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="{% url 'rack' %}">
			<i class="fas fa-border-all"></i> <span class="align-middle">Rack</span>
		</a>
	</li>
{% endblock %}

{% block titulo_seccion_a %}Reserva{% endblock %}{% block titulo_seccion_b %}Editar{% endblock %}

{% block contenido %}
	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12 d-flex">
			<div class="card flex-fill">
				<div class="card-header">
					<h5 class="card-title mb-0 regresar">
						Reserva <span class="lnk-regresar"><a href="{% url 'reserva' %}"><i class="fas fa-chevron-left"></i> Regresar</a></span>
					</h5>
				</div>

				<form class="formulario" method="POST">
					{% csrf_token %}

					<h2 class="llegada_reserva">Datos de la Llegada</h2>
					<!--
					{{ form.numero_reservacion }}
					-->
					<br>

					<div class="izquierda">
						<label class="form-label">Fecha de Llegada - Fecha de Salida</label>
						{{ form.fecha_entrada }} {{ form.fecha_salida }}

						<label class="form-label">Tipo de Habitación - Cuartos</label>
						{{ form.tipo_habitacion }}
						{{ form.cuartos }}
					</div>
					<div class="derecha">

						<label class="form-label">Adultos</label>
						{{ form.adultos }}

						<label class="form-label">Niños</label>
						{{ form.ninos }}
					</div>

					<label class="form-label">Segmento de Mercado - Agencia</label>
					<div class="izquierda">
						{{ form.segmento_mercado }}
					</div>

					<div class="derecha">
						{{ form.agencia }}
					</div>

					<h2>Datos del Huésped</h2>


					<label class="form-label">Nombre Completo</label>
					{{ form.nombre }} {{ form.apellido_paterno }} {{ form.apellido_materno }}

					<label class="form-label">Correo - Teléfono - C.P.</label>
					{{ form.correo }} {{ form.telefono }} {{ form.codigo_postal }}

					<label class="form-label">Origen</label>
					{{ form.ciudad }} {{ form.estado }} {{ form.pais }}

					<h2>Datos del Pago</h2>

					<div class="izquierda">
						<label class="form-label">Depósito</label>
						{{ form.deposito }}

						<label class="form-label">Fecha del Depósito</label>
						{{ form.fecha_deposito }}
					</div>
					<div class="derecha">
						<label class="form-label">Moneda</label>
						{{ form.moneda }}

						<label class="form-label">Tarifa</label>
						{{ form.tarifa }}

					</div>

						<!-- OCULTOS -->
						{{ form.usuario_reserva }}
						{{ form.fecha_reservacion }}
						{{ form.hora_reservacion }}
						{{ form.status }}

					<h2>Observaciones</h2>

					<label class="form-label">Observaciones</label>
					{{ form.comentario }}

					<button class="btn btn-success btn-guarda-hab">Guardar <i class="fas fa-save"></i></button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block scriptJS %}
	<script src="{% static 'js/agrega_reserva.js' %}"></script>
{% endblock %}