{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <!-- Bootstrap CSS Local -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/checking_digital/reserva_directa.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

    <title>CNTS | Reserva Directa</title>
</head>
{% for item in datos %}
<body style="background-image: url('/media/{{ item.background_reserva_directa }}');">
    <div class="container">
    	<div class="logo">
	    	<img src="/media/{{ item.logo }}" alt="Logo">
    	</div>
{% endfor %}
		<h2>Registro Digital / Digital Record</h2>
		<div class="folio" id="folio"></div>
		<hr class="divisionFolio" id="divisionFolio">

		<span class="badge badge-danger errorReserva" id="errorReserva">Existe un error en sus fechas de estancia. / There is an error in your dates of stay.</span>
		<span class="badge badge-danger errorReserva" id="errorReserva2">Esta fecha no esta disponible por periodo de cierre; disculpe las molestias. / This date is not available for the closing period; sorry for the inconvenience.</span>
		<span class="badge badge-danger errorReserva" id="errorReserva3">Esta pre-reserva ya se encuentra registrada; por favor espere unos minutos para que le llegue el correo de confirmación. / This pre-reservation is already registered; please wait a few minutes for the confirmation email to arrive.</span>
		<span class="badge badge-warning text-wrap avisoReserva">Los datos en rojo son indispensables para completar su pre-reserva. / The data in red is essential to complete your pre-reservation.</span><br><br>

		<form method="POST">
			{% csrf_token %}

			<input type="text" name="firma" id="id_firma" hidden="hidden">
			<input id="id_numero_prereserva" name="numero_prereserva" class="form-control" type="text" hidden="hidden">
			<h5>Datos de su Llegada / Data of your arrival</h5>
			{% for dato in datos %}
				<input id="id_hotel" name="hotel" type="text" value="{{ dato.nombre_corto }}" hidden="hidden">
			{% endfor %}
			<div class="izquierda">
			<label><b class="text-danger">Fecha de Entrada - Salida / Arrival - Departure Date:</b></label><br>
				{{ form.fecha_entrada }} {{ form.fecha_salida }}
				<label>Número de Noches / Number of Nights:</label>
				{{ form.noches }}
			</div>

			<div class="derecha">
				<label><b class="text-danger">Cantidad de Habitaciones / Number of Rooms:</b></label>
				{{ form.cantidad_habitaciones }}
				<label><b class="text-danger">Cantidad de Adultos</b> - Niños / <b class="text-danger">Number of Adults</b> / Children:</label><br>
				{{ form.adultos }} {{ form.ninos }}
			</div>

		<hr>
		<h5>Datos del Huésped / Guest Data</h5>
		<label><b class="text-danger">Nombre Completo / Full Name:</b></label><br>
		{{ form.apellido_paterno }} {{ form.apellido_materno }} {{ form.nombre }}
		<div class="izquierda">
			<label><b class="text-danger">Teléfono / Phone:</b></label>
			{{ form.telefono }}
			<label><b class="text-danger">Correo / Mail:</b></label><br>
			<div id="id_errorMail" class="alert alert-danger errorMail" role="alert">
				Por favor, corrija su correo...
			</div>
			{{ form.email }} <span id="checkMail" class="checkMail"></span><br>
			<label>Dirección / Address:</label>
			{{ form.direccion }}
			<label>Placas de Automóvil / Car plates:</label>
			{{ form.placas_auto }}
		</div>

		<div class="derecha">
			<label>Código Postal / Postal Code:</label>
			{{ form.codigo_postal }}
			<label>País / Country:</label>
			{{ form.pais }}
			<label>Estado / State:</label>
			{{ form.estado }}
			<label>Ciudad / City:</label>
			{{ form.ciudad }}
		</div>
		<hr>

		<h5>Acompañantes / Companions</h5>
		<label>Nombre Completo / Full Name:</label><br>
		{{ form.acompanante_1 }}<br>
		{{ form.acompanante_2 }}<br>
		{{ form.acompanante_3 }}
		<hr>

		<h5>Datos de Facturación / Billing Data <small class="text-danger">Solo si desea facturar, le rogamos nos proporcione los siguientes datos / Only if you want to invoice, please provide us with the following information</small></h5>
		<div class="izquierda">
			<label>R.F.C. / TIN:</label><br>
			{{ form.rfc }}
			<label>Razón Social / Business Name:</label><br>
			{{ form.razon_social }}
		</div>

		<div class="derecha">
			<label>Código Postal de la Factura / Invoice Zip Code:</label><br>
			{{ form.codigo_postal_factura }}
			{{ form.estatus }}
			{{ form.cuestionario }}
		</div>
			<hr>

			<div class="alert alert-info" id="alerta" role="alert">
				Le solicitamos nos regale un minuto de su tiempo para la revisión y aceptación del siguiente / We ask that you give us a minute of your time to review and accept the following: <br><br> 
				<!-- Button trigger modal -->
				<button type="button" id="btn-politica" class="btn btn-outline-primary" data-toggle="modal" data-target="#staticBackdrop">
				  Protocolo de Seguridad e Higiene / Safety and Hygiene Protocol
				</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="staticBackdropLabel">Medidas de seguridad e higiene / Health and safety measures</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<div class="row">
				      	<div class="col-md-12 ml-auto">
				      		<h6>
				      			Cuestionario para determinar posible portador de COVID-19 / Questionary to determine a possible COVID-19 carrier
				      			<span class="text-danger"> <small><b>Son necesarias todas sus respuestas / All your answers are necessary</b></small></span>
				      		</h6>
				      		<h6>Datos del Huésped / Guest information</h6>

				      		<input type="text" class="form-control nombreCuestionario" name="nombreCuestionario" id="nombreCuestionario" placeholder="Nombre(s) / Names" readonly="readonly">

				      		<input type="text" class="form-control apellidosCuestionario" name="apellidosCuestionario" id="apellidosCuestionario" placeholder="Apellidos / Last names" readonly="readonly">

				      		<input type="text" class="form-control telefonoCuestionario" name="telefonoCuestionario" id="telefonoCuestionario" placeholder="Teléfono / Phone" readonly="readonly">

				      		<input type="text" class="form-control correoCuestionario" name="correoCuestionario" id="correoCuestionario" placeholder="Correo / EMail" readonly="readonly">

				      		<br><br>
				      		
				      		<small>
				      			<label class="etiquetaPregunta">¿Ha estado enfermo en los últimos días naturales? / Have you been sick in the last days?</label>
				      			<div class="grupoRadio">
									<input type="radio" name="pregunta1" value="1"> Si
									<input type="radio" name="pregunta1" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Ha tenido alguna enfermedad respiratoria en los últimos 30 días? / Have you had any respiratory disease in the last 30 days?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta2" value="1"> Si
									<input type="radio" name="pregunta2" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Tiene alguna enfermedad cardiovascular o hipertensión o diabetes? ¿Cuál? / Do you have any cardiovascular disease or hypertension or diabetes? Wich one?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta3" value="1"> Si
									<input type="radio" name="pregunta3" value="0" checked="checked"> No
								</div>
								<input type="text" name="respuesta3" id="respuesta3" class="form-control" placeholder="¿Cuál? / Wich one?">

								<label class="etiquetaPregunta">¿Ha tenido tos seca en los últimos 15 días? / Have you had hacking cough in the last 15 days?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta4" value="1"> Si
									<input type="radio" name="pregunta4" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Ha tenido fiebre/temperatura en los últimos 15 días? / Have you had fever/high temperature in the last 15 days?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta5" value="1"> Si
									<input type="radio" name="pregunta5" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Ha tenido dolores de pecho en la zona pulmonar en los últimos 15 días? / Have you had chest pain in the lung area in the last 15 days?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta6" value="1"> Si
									<input type="radio" name="pregunta6" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Ha tenido dolores de cabeza y/o cuerpo en los últimos 15 días? / Have you had headaches or body pain in the last 15 days?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta7" value="1"> Si
									<input type="radio" name="pregunta7" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Ha viajado al extranjero en los últimos 30 días?¿Donde? / Have you traveled abroad in the last 30 days? Where?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta8" value="1"> Si
									<input type="radio" name="pregunta8" value="0" checked="checked"> No
								</div>
								<input type="text" name="respuesta8" id="respuesta8" class="form-control" placeholder="¿Donde? / Where?">

								<label class="etiquetaPregunta">¿Ha estado en contacto con una persona infectada con el COVID-19? / Have you been in contact with a person infected by COVID-19?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta9" value="1"> Si
									<input type="radio" name="pregunta9" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Toma inmunosupresores actualmente? / Are you currently taking immunosuppressants?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta10" value="1"> Si
									<input type="radio" name="pregunta10" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Toma algún medicamento actualmente? ¿cuales? / Are you currently taking any medicine? Which ones?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta11" value="1"> Si
									<input type="radio" name="pregunta11" value="0" checked="checked"> No
								</div>
								<input type="text" name="respuesta11" id="respuesta11" class="form-control" placeholder="¿Cuales? / Wich ones?">

								<label class="etiquetaPregunta">¿Ha estado en inmuebles de alta densidad poblacional en los últimos 15 días como estadios, cines, teatros aeropuertos? / Have you been in high population density buildings in the last 15 days such as stadiums, cinemas, airports?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta12" value="1"> Si
									<input type="radio" name="pregunta12" value="0" checked="checked"> No
								</div>

								<label class="etiquetaPregunta">¿Cuenta con algún seguro médico privado o gubernamental? ¿Cuál? / Do you have any private or government health insurance?  Which one?</label>
								<div class="grupoRadio">
									<input type="radio" name="pregunta13" value="1"> Si
									<input type="radio" name="pregunta13" value="0" checked="checked"> No
								</div>
								<input type="text" name="respuesta13" id="respuesta13" class="form-control" placeholder="¿Cuál? / Wich one?">
				      		</small>

				      		<br><br>

				      		<h6>En caso de emergencia contactar a / In emergency case contact</h6>
				      		<input type="text" class="form-control nombreCuestionario" name="nombreCuestionarioEmergencia" id="nombreCuestionarioEmergencia" placeholder="Nombre Completo / Full name">
				      		<input type="text" class="form-control telefonoCuestionario" name="telefonoCuestionarioEmergencia" id="telefonoCuestionarioEmergencia" placeholder="Teléfono / Phone">
				      	</div>
			      	</div>

			      	<hr>

					<small>
				      	<div class="row">
				      		<div class="col-md-12 ml-auto">
				      			<p class="text-justify">
					      			De acuerdo a la información emitida por la Autoridad Gubernamental, mediante decreto 195/2020 y acuerdo publicados en el Diario Oficial del Gobierno del Estado con fechas  veintiséis de marzo del dos mil veinte y treinta y uno de marzo del año en curso, de declaración de pandemia realizada por la organización Mundial de la Salud a efecto de evitar los riesgos de contagio del COVID-19 y su determinación de acciones extraordinarias por la Secretaría de Salud para mitigar y evitar el contagio y en acatamiento a lo anterior.<br><br>
					      			{% if nombre_empresa != None %}
					      				El/La {{ nombre_empresa }}, conocido como <b>{{ nombre }}</b>
					      			{% else %}
					      				El <b>{{ nombre }}</b>
					      			{% endif %}
					      			comunica al público en general que en cumpliendo con las normas de salud en general es indispensable que durante su estancia en las instalaciones del hotel, cumpla con el protocolo de higiene establecido sin excepción alguna, ya que de no cumplir con dichas disposiciones se hará el check out correspondiente, sin responsabilidad para el hotel y cuidado la salud de los demás huéspedes y equipo de trabajo, siendo las siguientes:
				      			</p>
				      		</div>
					    </div>

					    <div class="row">
			      			<div class="col-md-1"></div>
			      			<div class="col-md-10">
			      				1.- USO INDISPENSABLE DE CUBREBOCAS EN TODAS LAS ÁREAS DEL HOTEL.
			      			</div>
			      			<div class="col-md-1"></div>

			      			<div class="col-md-1"></div>
			      			<div class="col-md-10">
			      				2.-DEJARSE TOMAR LA TEMPERATURA, SANITIZADO DE MANOS Y PASAR POR EL TAPETE SANITIZANTE DE CALZADO.
			      			</div>
			      			<div class="col-md-1"></div>

			      			<div class="col-md-1"></div>
			      			<div class="col-md-10">
			      				3.- CUIDAR LA SANA DISTANCIA.
			      			</div>
			      			<div class="col-md-1"></div>
			      		</div>

			      		<hr>

			      		<div class="row">
				      		<div class="col-md-12 ml-auto">
				      			<p class="text-justify">
					      			According to the information issued by the Government Authority, by decree 195/2020 and the agreement published in the Diario Oficial del Gobierno del Estado, on March 26th, 2020 and March 31st of the current year, due to the declaration of the current pandemic carried out by the World Health Organization in order to avoid the risks of COVID-19 spread, extraordinary actions were determined by the Ministry of Health to mitigate and avoid infections, in compliance with the above.<br><br>
					      			{% if nombre_empresa != None %}
					      				The {{ nombre_empresa }}, known as <b>{{ nombre }}</b>
					      			{% else %}
					      				The <b>{{ nombre }}</b>
					      			{% endif %}
					      			communicates to the general public that, following the general health standards, it is essential that during your stay in our hotel facilities, you follow the established hygiene protocol without exception, since if you do not comply with it, the corresponding check-out will be made, without responsibility for the hotel, with the intention of protecting the health of other guests and our staff. These are the hygiene measures you must follow:
				      			</p>
				      		</div>
					    </div>

					    <div class="row">
			      			<div class="col-md-1"></div>
			      			<div class="col-md-10">
			      				1.- It is indispensable to wear a face mask in all areas of the hotel.
			      			</div>
			      			<div class="col-md-1"></div>

			      			<div class="col-md-1"></div>
			      			<div class="col-md-10">
			      				2.-Let us take your temperature, sanitize your hands and go through the footwear sanitizing mat.
			      			</div>
			      			<div class="col-md-1"></div>

			      			<div class="col-md-1"></div>
			      			<div class="col-md-10">
			      				3.- Stay at least 6 feet (about 2 arms’ length) from other people.
			      			</div>
			      			<div class="col-md-1"></div>
			      		</div>
					</small>
					<br><br>

			      </div>
			      <div class="modal-footer">
			      	<div id="avisoCuestionario" class="alert alert-danger avisoCuestionario" role="alert">
						<b>Hace(n) falta respuesta(s) en el cuestionario!!!</b>
					</div>
			        <button type="button" class="btn btn-danger" id="btnClose" data-dismiss="modal">Cerrar / Close</button>
			        <button type="button" class="btn btn-success" id="btnAcept" data-dismiss="modal" disabled="disabled">Acepto / I agree</button>
			      </div>
			    </div>
			  </div>
			</div>

			<button class="btn btn-success" id="btn_guardar" type="submit" disabled="disabled">Guardar <span><i class="fas fa-save"></i></span></button>
		</form>
    </div>

    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/registro_digital.js' %}"></script>
</body>
</html>
